.container-fluid{
    height: 800px;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    font-family: 'Open Sans', sans-serif;
    color: white;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            font-size: 50px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .btn{
            font-size: 24px;
            color: black !important;
        }
        
    }   
}
